body {

  color: #FFFFFF;
  background-color: #000000;
  font-family: "Lucida Grande", sans-serif;
}

H1 {text-align: center;
font-size: 64px;
}

H2 {
  font-size:30px;
  text-shadow: 5px 5px 2px #808080;

}

P {
  font-size: 24px;
  padding-top: 20px;
}

IMG {
  display: block;
  width: 525px;
  height: auto;
  horizontal-align: center;

}

DIV {
  min-height: 150px;
  height: auto;
  padding: 25px;
}



#red {
  background-color: #FF0000;
  text-align: right;

}

#blue {
  background-color: #0000FF;
  text-align: left;
}

#yellow {
  background-color: #FFFF00;
  text-align: right;

}

#yellow > h2 {
  text-color: black;
  text-shadow: 5px 5px 2px #c7e2c7;
}

#green {
  background-color: #008000;
  text-align: left;
}

FOOTER > P {
  text-align:right;
  padding-top: 10px;
  padding-right: 10px;
}
